* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Courier New', Courier, monospace;
background-color: #202329;
color: white;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
font-family: cursive;
}

header h1 {

background-color: greenyellow;
padding: 5px;
color: black;
}

.pesquisa {
    display: flex;
    gap: 10px;
}

section {
display: flex;
justify-content: center;
margin-bottom: 30px;
}

section h2 {
background-color: black;
padding: 5px 20px;
color: greenyellow;
}

input {
padding: 10px;
border: none;
border-radius: 5px;
width: 200px;
}

button {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: greenyellow;
cursor: pointer;
font-family: cursive;
}

main {
display: flex;
justify-content: center;
align-items: center;
height: 85vh;
}

.card {
background-color: gray;
padding: 20px;
border-radius: 10px;
width: 350px;
}

#foto {
width: 100%;
border-radius: 10px;
}

.specs {
    margin-top: 20px;
display: flex;
flex-direction: column;
gap: 10px;
}

.specs p {
width: 250px;
background-color: white;
padding: 10px;
border-radius: 5px;
color: black;
}

.botoes {
margin-top: 20px;
display: flex;
justify-content: space-between;
}