* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Courier New', Courier, monospace;
background-color: #202329;
color: white;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}

header h1 {

background-color: greenyellow;
padding: 5px;
color: black;
}

.pesquisa {
    display: flex;
    gap: 10px;
}


input {
padding: 10px;
border: none;
border-radius: 5px;
width: 220px;
}

button {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: greenyellow;
cursor: pointer;

}

main {
display: flex;
padding-top: 40px;
align-items: center;
flex-direction: column;
gap: 25px;
}

h2 {
background-color: black;
color: yellowgreen;
font-size: 35px;
border-radius: 10px;
padding: 15px 40px;
}

.container   {
display: flex;
gap: 180px;
margin-top: 45px;
}

.card {
background-color: black;
padding: 40px;
border-radius: 10px;
height: 550px;
display: flex;
flex-direction: column;
justify-content: center;
}

#foto {
width: 350px;
height: 350px;
border-radius: 10px;
}

.direita {

display: flex;
flex-direction: column;
justify-content: center;
}

.specs {
width: 450px;
display: flex;
flex-direction: column;
justify-content: center;
gap: 80px;
}

.specs p {
background-color: black;
padding: 20px;
border-radius: 5px;
font-size: 20px;
color: greenyellow;
}

.botoes {
margin-top: 20px;
display: flex;
justify-content: space-between;
}